/* ===== Responsive ===== */
@media (max-width: 991px) {
    .navegacion {
        left: -300px;
    }

    /* oculto */
    .navegacion.activado {
        left: 0;
        width: 300px;
    }

    .main {
        left: 0;
        width: 100%;
    }

    .main.activado {
        left: 300px;
        width: calc(100% - 300px);
    }
}

@media (max-width: 768px) {
    .titulo-label {
        display: none;
    }
}

@media (max-width: 480px) {
    .main.activado {
        left: 0;
        width: 100%;
    }
}