.wrapper {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-right 0.3s;
    margin-right: 0; /* por defecto ocupa todo */
}

/* Cuando el sidebar está abierto */
.main-content.with-sidebar {
    margin-right: 300px; /* mismo ancho del sidebar */
}

.sidebar {
    width: 300px;
    background: #ffffff;
    border-left: 1px solid #e5e7eb;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    z-index: 1000; /* siempre encima */
}

/* Oculto */
.sidebar.collapsed {
    transform: translateX(100%);
}

.toggle-btn {
    position: fixed;
    right: 310px;
    top: 20px;
    z-index: 1100; /* más arriba que el sidebar */
    transition: right 0.3s;
}

.toggle-btn.collapsed {
    right: 20px;
}

.nav-link {
    color: #4b5563;
    padding: 0.75rem 1.25rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link:hover {
    background: #f3f4f6;
    color: #1f2937;
}

.nav-link.active {
    background: #e5e7eb;
    color: #1f2937;
    font-weight: 500;
}

ion-icon {
    font-size: 1.75rem;
    margin-right: 0.5rem;
}

.icon {
    min-width: 60px;
    height: 60px;
}

.sidebar-header {
    border-bottom: 1px solid #e5e7eb;
}

.notification-badge {
    background: #ef4444;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

    .main-content.with-sidebar {
        margin-right: 100%; /* si ocupa todo el ancho */
    }

    .toggle-btn {
        right: 20px;
    }
}
